@media screen and (orientation: portrait) {
  .left,
  .right,
  .header,
  .options {
    font-size: 25px;
  }
  .contain {
    display: flex;
    flex-direction: column;
  }
  .text,
  .items {
    width: 100%;
    height: 50%;
  }
  .form {
    width: 90vw;
    height: auto;
  }
  .details {
    display: block;
  }
  .Gfather,
  .father {
    padding: 0;
  }
}
@media screen and (max-width: 1100px) {
  .text {
    font-size: 30px;
    overflow: scroll;
  }
  .contain {
    font-size: 25px;
  }
  #submitbtn {
    font-size: 25px;
  }
  .Gfather,
  .father {
    padding: 0;
  }
}
@media screen and (max-width: 1000px) {
  .left,
  .right,
  .header,
  .options {
    font-size: 30px;
  }
  .Gfather,
  .father {
    align-items: center;
    padding: 0;
  }
  .Gfatherimg,
  .fatherimg {
    height: 60%;
    width: 25%;
  }
  .abtfather {
    height: 80%;
  }
  .text {
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .Gfatherimg,
  .fatherimg {
    height: 40%;
    width: 30%;
  }
  .left,
  .right,
  .header,
  .options {
    font-size: 20px;
  }
  .content {
    margin-top: none;
  }
  .text {
    font-size: 20px;
  }
}
