@media screen and (orientation: portrait) {
  .left,
  .right,
  .header {
    font-size: 25px;
  }
  .contain {
    display: block;
  }

  .form {
    width: 80vw;
    /* margin-left: 40px; */
  }
  .formdiv {
    padding-top: 40px;
  }
  .contain > .text,
  .contain > .items {
    width: 100%;
  }
  .form {
    margin-top: 20px;
    height: auto;
  }
  .details {
    display: block;
  }
  .Gfather,
  .father {
    padding: 0;
  }
}
@media screen and (max-width: 1100px) {
  .text {
    font-size: 35px;
    overflow: scroll;
  }
  .contain {
    height: 100%;
    font-size: 25px;
  }
  #submitbtn {
    font-size: 25px;
  }
  .Gfather,
  .father {
    padding: 0;
  }
}
@media screen and (max-width: 1000px) {
  .Gfather,
  .father {
    align-items: center;
    padding: 0;
  }
  .Gfatherimg,
  .fatherimg {
    height: 60%;
    width: 25%;
  }
  .abtfather {
    height: 80%;
  }
  .text{
   font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .Gfatherimg,
  .fatherimg {
    height: 40%;
    width: 30%;
  }
  .left,
  .right,
  .header {
    font-size: 20px;
  }
  .content {
    margin-top: none;
  }
  .text {
    font-size: 20px;
  }
}
